# Automação Web e Busca de Informações com Python

#### Desafio: 

Trabalhamos em uma importadora e compramos e vendemos commodities:
- Soja, Milho, Trigo, Petróleo, etc.

Precisamos pegar na internet, de forma automática, a cotação de todas as commodites e ver se ela está abaixo do nosso preço ideal de compra. Se tiver, precisamos marcar como uma ação de compra para a equipe de operações.

Base de Dados: https://drive.google.com/drive/folders/1O9aE_Hen5smf_a6TsbVF6DM0ms4Ykj6s?usp=share_link

Para isso, vamos criar uma automação web:

- Usaremos o selenium
- Importante: baixar o webdriver

In [33]:
#!pip install selenium

In [34]:
# Anotações:
# selenium é uma biblioteca muito usada para automatizar e fazer atividades na web com phyton.

# Passo 1: Entrar na internet (navegador)
from selenium import webdriver

navegador = webdriver.Chrome()
navegador.get("https://www.google.com.br/")

In [35]:
# Passo 2: Importar a base de Dados.
import pandas as pd

basededados = pd.read_excel("commodities.xlsx")
display(basededados)
# Dica: Resolver a solução de um item primeiro, depois pra todos.

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8   Tilápia         9.05          NaN      NaN

In [36]:
#.send_keys("meu nome é Rodrigo")-> usado para escrever nesse campo que voce selecionou.
#.click-> se quiser clicar nele
#.get_attribute()-> quando voce quer pegar uma informação de dentro dele.
# Passo 3: Para cada produto na base de dados, pegar o preço atual do produto.
# Passo 4: Atualizar a base de dados com o valor atual do produto

for linha in basededados.index:
    produto = basededados.loc[ linha,"Produto"]
    # entrar no site melhor cambio
    link= f"https://www.melhorcambio.com/{produto}-hoje"
    link = link.replace("ó", "o").replace("ã", "a").replace("á", "a").replace("ç", "c").replace("ú", "u").replace("é", "e")
    navegador.get(link)
    # pegar a cotação atual do Produto
    cotacao = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    cotacao = cotacao.replace(".", "")
    cotacao = cotacao.replace(",", ".")
    cotacao = float(cotacao)
    # preencher a cotação atual na coluna preço atual
    basededados.loc[linha,"Preço Atual"] = cotacao

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.43      NaN
1      Soja       163.59       133.82      NaN
2       Boi       282.20       267.75      NaN
3  Petróleo       424.37       377.28      NaN
4   Algodão       497.76       390.52      NaN
5    Açúcar       136.23       148.92      NaN
6      Café      1092.87      1042.37      NaN
7      Ouro       321.77       312.99      NaN
8   Tilápia         9.05         9.64      NaN

In [38]:
# Passo 5: Decidir quais produtos devemos comprar
basededados["Comprar"] = basededados["Preço Atual"] < basededados["Preço Ideal"]
display(basededados)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32        57.43     True
1      Soja       163.59       133.82     True
2       Boi       282.20       267.75     True
3  Petróleo       424.37       377.28     True
4   Algodão       497.76       390.52     True
5    Açúcar       136.23       148.92    False
6      Café      1092.87      1042.37     True
7      Ouro       321.77       312.99     True
8   Tilápia         9.05         9.64    False

In [ ]:
# Passo 6: Exportar a base de dados.
navegador.quit()